<div class= "form-add-product">
    <h2> Добавить список товаров </h2>
 
    <div>
        <div class="input-group">
            <input [(ngModel)]="product.title" type="text" class="form-control" placeholder="Введите наименование" />
            <input [(ngModel)]="product.price" type="text" class="form-control" placeholder="Введите цену"  />
            <input [(ngModel)]="product.desc" type="text" class="form-control" placeholder="Введите описание"  />
        </div>
    </div> 
    
    <button class="btn" type="button" (click)="onClick(product)">
        <span>Добавить</span>
    </button>
    <span>
    
</span>
</div>
{{products | json}}
