@import '../../styles'; 

.form-control{
	
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 10px;
	//flex-basis: 30%;
	font-size: 1.3em;
	width: 90%;
}

.form-add-product {
        display: block;
        border: none;
        font{
    	family: Arial; 
    }
}
.input-group
{
	
	width: 100%;
}
.btn
{
	background: #444;
	color: white;
	padding: 10px;
	font-family: Arial;
	font-weight: bold;
	margin-top: 15px; 
}
.delete-form{
	
	svg{
		stroke: white;
		width: 30px;
		padding: 5px;
		background: #3c465b;
		margin: 5px;
		border-radius: 30px;
		height: 30px;
		
	}
	svg:hover{
			background: white;
			stroke: #3c465b;
		}
	flex: 1;
	
	
	display: flex;
	justify-content: center;
}

input.ng-touched.ng-invalid{
 border-color: red;
}

label {
	font-size: 1.3em;
	margin-right: 15px;
}

.input-css{
	flex:1 1 100%;

}
.error
{
	margin-bottom: 20px;
    color: red;
    margin-right: 25px;
    text-align: right;
    height: 10px;
}