<div class= "form-add-product">
    <h2> Добавить список товаров </h2>
 
    <div>
        <div class="input-group">
            <input [(ngModel)]="product.title" type="text" class="form-control"  [pattern]="titlePattern" placeholder="Введите наименование" required minlength="1" />
            <input [(ngModel)]="product.price" type="text" class="form-control"   required  maxlength="5" placeholder="Введите цену"  />
            <input [(ngModel)]="product.desc" type="text" class="form-control"   (keyup.enter)="onClick(product)" placeholder="Введите описание"  required minlength="1"  />
        </div>
    </div> 
    
    <button class="btn" type="button" (click)="onClick(product)">
        <span>Добавить</span>
    </button>
    <span>
    
</span>
</div>
