<form [formGroup]="FormValid" class= "form-add-product">
    <h2> Добавить список товаров </h2>
 
    <div>
        <div  class="input-group" >
            <div class="input-css"><label for="title">Наименование</label>
            <input formControlName="title" type="text" id="title" class="form-control"  [pattern]="titlePattern" placeholder="Введите наименование" required minlength="1" /></div>
            <div class="input-css"><label for="price">Цена</label>
            <input formControlName="price" type="text" class="form-control"   required  maxlength="5" placeholder="Введите цену"  /></div>
            <div class="input-css"><label for="desc">Описание</label>
            <input formControlName="desc" type="text" class="form-control"   (keyup.enter)="onClick(product)" placeholder="Введите описание"  required minlength="1"  /></div>
        </div>
    </div> 
    
    <div class="delete-form" >
        <svg  xmlns="http://www.w3.org/2000/svg" (click)="toggle()" viewBox="0 0 100 100" xmlns:xlink="http://www.w3.org/1999/xlink">
            <line x1="10" y1="10" x2="100" y2="100"  stroke-width="10" />
            <line x1="100" y1="10" x2="10" y2="100"  stroke-width="10" />
        </svg>
    </div>

    <button class="btn" type="submit" >
        <span>Добавить</span>
    </button>
    <span>
    
</span>
</form>
