@import '../styles';

$addButton: 65px;

app-product
{
	font-family: Arial;
}
.title
{
	@extend %theme-system;
	padding: {
		left: $marginCuctom;
		right:$marginCuctom;
		top: $marginCuctom/$marginVerticalCustom;
		bottom: $marginCuctom/$marginVerticalCustom;
	}
	/*position: fixed;
	width: 100%;*/
	box-shadow: 0 5px 15px 1px rgb(0,0,0,0.3);

}
.product-list
{
	display: flex;
	padding: $marginCuctom/$marginVerticalCustom;;
	flex-wrap: wrap;
}
.add-product
{
	position: fixed;
	bottom: $addButton;
	right: $addButton;
	background: white;
	height: $addButton;
	width: $addButton;
	animation: 5s;
	border-radius: $addButton;
	&:hover{
		background: #3c465b;
		& svg{
			stroke: white; 
		}
	}
	& svg{
		 height: $addButton; stroke: #3c465b; 
	}
}