@import '../../styles'; 
.product-item
{
	margin: $marginCuctom/2;

	background: white;
	display: flex;
	flex-wrap: wrap;
	max-width: 400px;
	//max-width: 25%;
	border:{
		radius: $card/4;
	}
	box-shadow: 0 0 15px 1px rgb(0,0,0,0.1);
}

.product-name
{
	flex-basis: 67%;	
	padding: $card/4 $card/2 $card/4 $card/2;
	font:
	{
		weigth: bold;
		size: 1.5em;
		family: Arial;
	}
	border-top-left-radius: $card/4;
	border-top-right-radius: $card/4;

	@extend %theme-system;
	
}
.delete{
	
	svg{
		stroke: white;
		width: 30px;
		padding: 5px;
		background: #3c465b;
		margin: 5px;
		border-radius: 30px;
		height: 30px;
		
	}
	svg:hover{
			background: white;
			stroke: #3c465b;
		}
	flex: 1;
	
	
	display: flex;
	justify-content: center;
}
.product-price
{
	flex: 1 2;
	display: flex;
	font-size: 2em;
	margin: 10px;
	min-width: 100px;
	text-align: center;
	font-weight: bold;
	align-items: center;
	justify-content: center
}
.product-desc
{
	flex: 3 2;
	padding: 15px;
	font-size: 1.2em;
	min-width: 200px;
}
